/* ==== importação das fontes Google ==== */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");

/* ===== RESET_DOCUMENT ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ===== ROOT_CONFIG ===== */
:root {
  font-size: 62.5%; /*1rem = 10px*/

  --nav-height: 7.2rem; /* define a altura da barra de navegação */

  --hue: 255; /* Altera esquema de cores da página */

  --brand-primary-color: hsla(var(--hue), 53%, 50%, 1);
  --brand-primary-light: hsla(calc(var(--hue) + 2), 100%, 93%, 1);
  --brand-primary-light2: hsla(calc(var(--hue) - 3), 100%, 97%, 1);
  --brand-primary-hover: hsla(var(--hue), 68%, 30%, 1);
  --gray-headline: hsla(210, 11%, 15%, 1);
  --gray-paragraph: hsla(210, 9%, 31%, 1);
  --brand-beige: hsla(0, 0%, 98%, 1);
  --white: hsla(0, 0%, 100%, 1);
}

/* ==== BASE ==== */

html {
  scroll-behavior: smooth;
}

body {
  font-family: "DM Sans";
  font-size: 1.6rem;
  text-align: center;
  color: var(--gray-paragraph);
  background-color: var(--brand-primary-light2);
}

h1 {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.08rem;
  transform: uppercase;
  color: var(--brand-primary-color);
}

h2 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 3.9rem;
  color: var(--gray-headline);
}

p {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 150%;
  color: var(--gray-paragraph);
}

img {
  max-width: 100%;
}

.wrapper {
  width: min(70rem, 100%);
  margin-inline: auto;
  padding-inline: 2.4rem;
}

.social-media {
  display: flex;
  list-style: none;
  gap: 3.2rem;
}

/* ==== COLOR_ADJUSTMENT ==== */
.logo path[fill*='#00856F'],
.menu .button path,
.button rect[fill*='#00856F'] {
  fill: var(--brand-primary-color);
}

.card path,
#contact p path {
  stroke: var(--brand-primary-color);
}

.card circle {
  fill: var(--brand-primary-light);
}

/* ==== NAVIGATION ==== */
nav {
  height: var(--nav-height);
  width: 100vw;
  display: flex;
  position: fixed;
  top: 0;
}

nav .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .logo path {
  transition: all .4s ease-in-out;
}

nav.scroll {
  background-color: var(--brand-primary-color);
}

nav.scroll .logo path {
  fill: white;
}

nav.scroll #navMenu > span {
  background-color: white;
}

.menu {
  position: fixed;
  visibility: hidden;
}

/* ==== NEW_NAV_MENU ==== */
#navMenu {
  cursor: pointer;
  z-index: 100;
}

#navMenu > span {
  display: block;
  width: 2.8rem;
  height: 0.2rem;
  border-radius: 999.9rem;
  background-color: var(--brand-primary-color);
}

#navMenu > span:not(:last-child) {
  margin-bottom: 0.7rem;
}

#navMenu, #navMenu > span {
  transition: all .4s ease-in-out;
}

#navMenu.active {
  transition-delay: 0.8s;
  transform: rotate(45deg);
}

#navMenu.active > span:nth-child(2) {
  width: 0;
}

#navMenu.active > span:nth-child(1),
#navMenu.active > span:nth-child(3) {
  transition-delay: .4s;
}

#navMenu.active > span:nth-child(1) {
  transform: translateY(0.9rem);
}

#navMenu.active > span:nth-child(3) {
  transform: translateY(-0.9rem) rotate(90deg);
}

/* ==== MENU_EXPANDED ==== */
body.menu-expanded .menu {
  opacity: 1;
  visibility: visible;
}

body.menu-expanded > :not(nav) {
  display: none;
}

.menu {
  transform: translateY(-100%);
}

body.menu-expanded .menu {
  top: 0;
  left: 0;
  background: var(--brand-primary-color);

  width: 100vw;
  height: 100vh;

  padding-top: 7.2rem;

  transition: ease-in 1s;
  transform:translateY(0);
  display: flex;
  flex-direction: column;
  align-items: center;
}

body.menu-expanded #navigation .logo path {
  fill: white;
}

body.menu-expanded #navMenu > span {
  background-color: white;
}

body.menu-expanded .menu .links {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;

  margin-top: 6rem;

  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.1rem;

  list-style: none;
  align-items: center;
}

body.menu-expanded .menu .links li a {
  color: white;
  text-decoration: none;
}

body.menu-expanded .menu .social-media {
  margin-top: 8rem;
}

body.menu-expanded .menu .social-media path {
  fill: white;
}

body.menu-expanded .logo {
  position: relative;
  z-index: 100;
}

body.menu-expanded .menu .button {
  display: block;
  margin-top: 4.8rem;
}

/* ==== HOME ==== */
#home {
  padding-block: var(--nav-height) 0;
}

#home::before {
  content: '';
  width: 100%;
  height: 108rem;
  background-color: var(--brand-primary-light);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#home h1 {
  margin-top: 4.1rem;
}

#home h2 {
  font-size: 3.4rem;
  margin-top: 1.6rem;
}

#home p {
  margin-top: 2.4rem;
  font-size: 1.8rem;
}

#home .button {
  display: flex;
  justify-content: center;
  margin-top: 3.2rem;
}

#home img {
  display: flex;
  margin-inline: auto;
  margin-top: 6rem;
  max-width: min(40rem, 100%);
  padding-inline: 3rem;
}

#home .stats {
  width: 100%;
  background-color: var(--brand-beige);
  padding-block: 4rem;
  list-style: none;
  border: 1px solid var(--brand-primary-light);
  border-radius: 6px;
}

#home .stats .stat:not(:first-child) {
  margin-top: 6rem;
}

#home .stats h2 {
  font-size: 4.8rem;
  margin-top: 0;
}

#home .stats p {
  font-size: 1.6rem;
  color: var(--brand-primary-color);
  margin-top: 0;
}

/* ==== SERVICES ==== */
#services {
  padding-block: 10rem;
}

#services h1 {
  margin-bottom: 1.6rem;
}

#services .services-title {
  padding-inline: 3rem;
}

#services .cards {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  text-align: left;
}

#services .card {
  width: 100%;
  background-color: var(--brand-beige);
  list-style: none;
  border: 1px solid var(--brand-primary-light);
  border-radius: 6px;
  padding: 2.4rem;
  gap: 1.6rem;
  display: flex;
  flex-direction: column;
}

#services .card h2 {
  font-size: 2.4rem;
}

/* ==== ABOUT ==== */
.about {
  background-color: var(--brand-beige);
}

#about {
  display: flex;
  flex-direction: column;
  text-align: left;
}

#about h1 {
  margin-top: 10rem;
}

#about h2 {
  margin-top: 1.6rem;
}

#about p {
  margin-top: 2.4rem;
}

#about img {
  margin-block: 6rem 10rem;
}

/* ==== CONTACT ==== */
.contact {
  background-color: var(--white);
}

#contact {
  padding-block: 10rem;
  text-align: left;
}

#contact h2 {
  margin-bottom: 3.2rem;
}

#contact p:nth-child(3) {
  margin-top: 1.6rem;
}

#contact p {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

#contact .button {
  display: flex;
  margin-top: 3.2rem;
}

#contact img {
  margin-top: 6rem;
}

/* ==== FOOTER ==== */
footer {
  background-color: var(--brand-primary-color);
}

#footer {
  padding-top: 6rem;
  text-align: left;
}

#footer svg {
  margin-bottom: 2.4rem;
}

#footer p {
  color: var(--white);
}

#footer p:nth-child(3) {
  margin-top: 1.2rem;
}

#footer .social-media {
  margin-top: 3.2rem;
}
