/* ==== importação das fontes Google ==== */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");

/* ===== RESET_DOCUMENT ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ===== ROOT_CONFIG ===== */
:root {
  font-size: 62.5%;
  /*1rem = 10px*/

  --nav-height: 7.2rem;
  /* define a altura da barra de navegação */

  --hue: 255;
  /* Altera esquema de cores da página */

  --brand-primary-color: hsla(var(--hue), 53%, 50%, 1);
  --brand-primary-light: hsla(calc(var(--hue) + 2), 100%, 93%, 1);
  --brand-primary-light2: hsla(calc(var(--hue) - 3), 100%, 97%, 1);
  --brand-primary-hover: hsla(var(--hue), 68%, 30%, 1);
  --gray-headline: hsla(210, 11%, 15%, 1);
  --gray-paragraph: hsla(210, 9%, 31%, 1);
  --brand-beige: hsla(0, 0%, 98%, 1);
  --white: hsla(0, 0%, 100%, 1);
}

/* ==== BASE ==== */

html {
  scroll-behavior: smooth;
}

body {
  font-family: "DM Sans";
  font-size: 1.6rem;
  text-align: center;
  color: var(--gray-paragraph);
  background-color: var(--brand-primary-light2);
}

h1 {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.08rem;
  transform: uppercase;
  color: var(--brand-primary-color);
}

h2 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 3.9rem;
  color: var(--gray-headline);
}

p {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 150%;
  color: var(--gray-paragraph);
}

a {
  cursor: pointer;
}

.wrapper {
  width: min(102.4rem, 100%);
  margin-inline: auto;
  padding-inline: 2.4rem;
}

.social-media {
  display: flex;
  list-style: none;
  gap: 3.2rem;
}

.social-media a img {
  transition: all .2s;
}

.social-media a img:hover {
  transform: scale(1.4);
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: var(--brand-primary-color);
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.8rem;
  max-width: 26.3rem;
  height: 5.2rem;
  border-radius: 4rem;
  gap: 1.6rem;
  transition: .3s;
}

.button:hover {
  background-color: var(--brand-primary-hover);
}

.buttonMenu {
  display: none;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-weight: 700;
  border-radius: 4rem;
  transition: all .4s ease-in-out;
}

/* ==== BACK_TO_TOP_BUTTON ==== */
#backToTopButton {
  display: none;
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  transition: all .2s;
}

#backToTopButton.active {
  display: initial;
}

#backToTopButton:hover {
  transform: scale(1.4);
}

/* ==== COLOR_ADJUSTMENT ==== */
#backToTopButton circle {
  fill: var(--brand-primary-color);
}

.card path,
#contact p path {
  stroke: var(--brand-primary-color);
}

.card circle {
  fill: var(--brand-primary-light);
}

/* ==== NAVIGATION ==== */
#navigation {
  height: var(--nav-height);
  width: 100%;
  display: flex;
  position: fixed;
  top: 0;
}

#navigation .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#navigation .logo {
  font-size: 2.4rem;
  line-height: 2.3rem;
  text-decoration: none;
  color: black;

  position: relative;
  z-index: 100;

  transition: all .4s ease-in-out;
}

#navigation .logo span {
  font-weight: 700;
  color: var(--brand-primary-color);
  transition: all .4s ease-in-out;
}

#navigation.scroll {
  transition: all .4s;
  background-color: var(--brand-primary-color);
}

#navigation.scroll .logo,
#navigation.scroll .logo span {
  color: white;
}

#navigation.scroll #navMenu>span {
  background-color: white;
}

.menu {
  position: fixed;
  visibility: hidden;

  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  padding-top: var(--nav-height);
}

/* ==== NEW_NAV_MENU ==== */
#navMenu {
  cursor: pointer;
  z-index: 100;
}

#navMenu>span {
  display: block;
  height: 0.2rem;
  border-radius: 999.9rem;
  background-color: var(--brand-primary-color);
}

#navMenu>span:nth-child(1),
#navMenu>span:nth-child(3) {
  width: 2.8rem;
}

#navMenu>span:nth-child(2) {
  width: 2.2rem;
}

#navMenu>span:not(:last-child) {
  margin-bottom: 0.7rem;
}

#navMenu,
#navMenu>span {
  transition: all .4s ease-in-out;
}

#navMenu.active {
  transition-delay: 0.4s;
  transform: rotate(45deg);
}

#navMenu.active>span:nth-child(2) {
  width: 0;
}

#navMenu.active>span:nth-child(1),
#navMenu.active>span:nth-child(3) {
  transition-delay: .4s;
}

#navMenu.active>span:nth-child(1) {
  transform: translateY(0.9rem);
}

#navMenu.active>span:nth-child(3) {
  transform: translateY(-0.9rem) rotate(90deg);
}

/* ==== MENU_EXPANDED ==== */
body.menu-expanded .menu {
  opacity: 1;
  visibility: visible;

  background: var(--brand-primary-color);
  transition: all .8s;

  display: flex;
  flex-direction: column;
  align-items: center;
}

body.menu-expanded> :not(#navigation) {
  display: none;
}

body.menu-expanded #navigation .logo,
body.menu-expanded #navigation .logo span {
  color: white;
}

body.menu-expanded #navMenu>span {
  background-color: white;
}

body.menu-expanded .menu .links {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;

  margin-top: 6rem;

  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.1rem;

  list-style: none;
  align-items: center;
}

body.menu-expanded .menu .links li a {
  color: white;
  text-decoration: none;
}

body.menu-expanded .menu .social-media {
  margin-top: 8rem;
}

body.menu-expanded .menu .buttonMenu {
  display: flex;
  margin-top: 4.8rem;
  color: var(--brand-primary-color);
  background-color: white;
  font-size: 1.8rem;
  line-height: 2.3rem;
  width: 27.4rem;
  height: 5.5rem;
}

body.menu-expanded .menu .buttonMenu:hover {
  background-color: var(--brand-primary-color);
  color: white;
  border: 1px solid white;
}

/* ==== HOME ==== */
#home {
  padding-block: var(--nav-height) 0;
}

#home::before {
  content: '';
  width: 100%;
  height: 108rem;
  background-color: var(--brand-primary-light);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#home h1 {
  margin-top: 4.1rem;
}

#home h2 {
  font-size: 3.4rem;
  margin-top: 1.6rem;
}

#home p {
  margin-top: 2.4rem;
  font-size: 1.8rem;
}

#home .button {
  margin-inline: auto;
  margin-top: 3.2rem;
}

#home img {
  display: flex;
  margin-inline: auto;
  margin-top: 6rem;
  max-width: min(42rem, 100%);
  padding-inline: 3rem;
}

#home .stats {
  width: 100%;
  background-color: var(--brand-beige);
  padding-block: 4rem;
  list-style: none;
  border: 1px solid var(--brand-primary-light);
  border-radius: 6px;
}

#home .stats .stat:not(:first-child) {
  margin-top: 6rem;
}

#home .stats h2 {
  font-size: 4.8rem;
  margin-top: 0;
}

#home .stats p {
  font-size: 1.6rem;
  color: var(--brand-primary-color);
  margin-top: 0;
}

/* ==== SERVICES ==== */
#services {
  padding-block: 10rem;
}

#services h1 {
  margin-bottom: 1.6rem;
}

#services .services-title {
  padding-inline: 3rem;
}

#services .cards {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  text-align: left;
}

#services .card {
  width: 100%;
  background-color: var(--brand-beige);
  list-style: none;
  border: 1px solid var(--brand-primary-light);
  border-radius: 6px;
  padding: 2.4rem;
  gap: 1.6rem;
  display: flex;
  flex-direction: column;
}

#services .card h2 {
  font-size: 2.4rem;
}

/* ==== ABOUT ==== */
.about {
  background-color: var(--brand-beige);
}

#about {
  display: flex;
  flex-direction: column;
  text-align: left;
}

#about h1 {
  margin-top: 10rem;
}

#about h2 {
  margin-top: 1.6rem;
}

#about p {
  margin-top: 2.4rem;
}

#about img {
  margin-block: 6rem 10rem;
  max-width: min(48rem, 100%);
}

/* ==== CONTACT ==== */
.contact {
  background-color: var(--white);
}

#contact {
  padding-block: 10rem;
  text-align: left;
}

#contact h2 {
  margin-bottom: 3.2rem;
}

#contact p:nth-child(3) {
  margin-top: 1.6rem;
}

#contact p {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

#contact .button {
  margin-top: 3.2rem;
}

#contact img {
  margin-top: 6rem;
  max-width: min(57.5rem, 100%);
}

/* ==== FOOTER ==== */
footer {
  background-color: var(--brand-primary-color);
}

#footer {
  padding-block: 6rem;
  text-align: left;
}

#footer div {
  margin-bottom: 2.4rem;
  font-size: 4.2rem;
  line-height: 2.3rem;
  letter-spacing: 0.1rem;
  color: white;
}

#footer div span {
  font-weight: 700;
}

#footer p {
  color: var(--white);
}

#footer p:nth-child(3) {
  margin-top: 1.2rem;
}

#footer .social-media {
  margin-top: 3.2rem;
}

/* ==== RESPONSIVE ==== */
@media (min-width: 1024px) {

  .wrapper {
    width: min(112rem, 100%);
    display: grid;
  }

  h2 {
    font-size: 4rem;
    line-height: 5.2rem;
  }

  /* ==== NAVIGATION ==== */

  #navigation .logo {
    position: initial;
    z-index: 100;
  }

  #navMenu,
  .menu .social-media {
    display: none;
  }

  .menu {
    visibility: initial;
    top: initial;
    left: initial;
    padding-top: initial;

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc((120% / 2));
    height: 100%;
    position: relative;
    z-index: 100;
  }

  .menu .links {
    display: flex;
    gap: 3.2rem;

    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.1rem;

    list-style: none;
    align-items: center;
  }

  .menu .links li a {
    color: var(--brand-primary-color);
    text-decoration: none;
    transition: all .4s ease-in-out;
  }

  .menu .links li:after {
    content: '';
    width: 0;
    height: 2px;
    background-color: var(--brand-primary-color);
    border-radius: 100px;
    position: relative;
    margin-inline: auto;
    bottom: -2.5rem;
    display: block;
    transition: width .4s;
  }

  #navigation.scroll .menu .links li:after,
  #navigation.scroll .menu .links li:hover:after {
    background-color: white;
  }

  .menu .links li:hover:after {
    width: 100%;
  }

  .menu .buttonMenu {
    display: flex;
    color: var(--brand-primary-color);
    border: 1px solid var(--brand-primary-color);
    font-size: 1.4rem;
    line-height: 1.8rem;
    width: 22rem;
    height: 3.8rem;
  }

  .menu .buttonMenu:hover {
    background-color: var(--brand-primary-color);
    color: white;
  }

  #navigation.scroll .menu .links li a {
    color: white;
  }

  #navigation.scroll .menu .buttonMenu {
    color: white;
    border-color: white;
  }

  #navigation.scroll .menu .buttonMenu:hover {
    color: var(--brand-primary-color);
    background-color: white;
  }

  /* ==== HOME ==== */
  #home {
    display: grid;
    grid-template-areas:
      'A B'
      'C C';
  }

  #home .col-a {
    grid-area: A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    text-align: left;
  }

  #home h2 {
    font-size: 5.2rem;
    line-height: 130%;
  }

  #home .button {
    margin-inline: initial;
  }

  #home .col-b {
    grid-area: B;
  }

  #home .stats {
    grid-area: C;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6rem 12rem;

  }

  #home .stats .stat:not(:first-child) {
    margin-top: initial;
    border-left: 1px solid var(--brand-primary-color);
    padding-left: 8rem;
  }

  #home .stats h2 {
    margin-top: initial;
  }

  #home .stats p {
    margin-top: initial;
  }

  #home .stats .stat:not(:first-child)::before {
    content: '';
    width: 0.2rem;
    height: 2rem;
    background-color: var(--gray-headline);
  }

  #home::before {
    height: 67.8rem;
  }

  /* ==== SERVICES ==== */
  #services {
    padding-block: 16rem;
  }

  #services .services-title {
    padding-inline: 25%;
  }

  #services .cards {
    margin-top: 6.4rem;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2.6rem;
  }

  #services .card {
    width: 30%;
    flex-grow: 1;
  }

  /* ==== ABOUT ==== */
  #about {
    display: grid;
    grid-template-areas: 'B A';
    grid-template-columns: 48rem 1fr;
    padding-block: 16rem;
    align-items: center;
    gap: 6.7rem;
  }

  #about .col-a {
    grid-area: A;
  }

  #about .col-b {
    grid-area: B;
  }

  #about h1 {
    margin-top: initial;
  }

  #about img {
    margin-block: initial;
  }

  /* ==== CONTACT ==== */
  #contact {
    display: grid;
    grid-template-areas: 'A B';
    grid-template-columns: 1fr 57.5rem;
    padding-block: 16rem;
    align-items: center;
    gap: 14.1rem;
  }

  #contact .col-a {
    grid-area: A;
  }

  #contact .col-b {
    grid-area: B;
  }

  #contact img {
    margin-top: initial;
  }

  /* ==== FOOTER ==== */
  #footer {
    display: grid;
    grid-template-areas: 'A B';
    align-items: center;
  }

  #footer .col-a {
    grid-area: A;
    margin-bottom: initial;
  }

  #footer .social-media {
    grid-area: B;
    margin-top: initial;
    justify-content: end;
  }
}